@font-face {
    font-family: 'HelveticaNeue';
    src: url('../assets/fonts/HelveticaNeueRegular.eot');
    src: url('../assets/fonts/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/HelveticaNeueRegular.woff2') format('woff2'),
        url('../assets/fonts/HelveticaNeueRegular.woff') format('woff'),
        url('../assets/fonts/HelveticaNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../assets/fonts/HelveticaNeueBold.eot');
    src: url('../assets/fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/HelveticaNeueBold.woff2') format('woff2'),
        url('../assets/fonts/HelveticaNeueBold.woff') format('woff'),
        url('../assets/fonts/HelveticaNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
